flask
flask_cors
flask-socketio
pandas
matplotlib
seaborn
scikit-learn
torch
textblob
gensim
networkx
transformers
huggingface_hub
nltk
pyLDAvis==3.4.1
sqlalchemy
pymysql
mysql-connector-python
spacy
numpy
gunicorn